--extra-index-url https://download.pytorch.org/whl/cpu
certifi==2022.12.7
charset-normalizer==2.1.1
clip==1.0
filelock==3.9.0
ftfy==6.1.1
ggml-python @ git+https://github.com/abetlen/ggml-python@main
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
mpmath==1.2.1
networkx==3.0
numpy==1.24.1
Pillow==9.3.0
regex==2023.6.3
requests==2.28.1
scipy==1.10.1
sympy==1.11.1
torch==2.0.1+cpu
torchvision==0.15.2+cpu
tqdm==4.65.0
typing-extensions==4.6.3
urllib3==1.26.13
wcwidth==0.2.6
